<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HousingCovid19</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">LAK</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li class="drop-down"><a href="">Analytics</a>
            <ul>
              <li><a href="/analytics">Housing Analytics</a></li>
              <li><a href="/map">Maps</a></li>
              <li><a href="/table">Table</a></li>
              <li><a href="/predictions">Predictions</a></li>
            </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-center" data-aos="fade-up">
      <h1>Property Values and Covid19</h1>
      <h2>Group 1</h2>
      <a href="/analytics" class="btn-get-started scrollto">Learn More </a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="static/img/Moving.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Projects</h3>
            <p data-aos="fade-up">
              Our most recent projects:
            </p>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Property Values & Covid19</h4>
              <p>Project: <a class="learnmore" href='#steps'>Learn More</a> </p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>

              <h4>Javascript & Visualizations Project</h4>
              <p>Building Visualizations: <a class="learnmore" href='https://housing-covid.herokuapp.com/'
                  target="_blank">Learn More</a> </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Opiod Epidemic Project</h4>
              <p>Analytics & Visualizations with Python: <a class="learnmore"
                  href="https://github.com/dv8byjb/OpioidsProject/blob/master/1b_Opioid_Fatal_Overdoses.ipynb"
                  target="_blank">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Steps Section ======= -->
    <section id="steps" class="steps section-bg">
      <div class="container">

        <div class="row no-gutters">
          <h4 class="covid"><strong>Property Values & Covid19</strong></h4>
          <p>
            In our team we tried to pick topics we all care about. Collectively, we've learned how data analysis tells
            a story. We use programming languages like Python, Javascript, SQL in our analysis of data. We also use
            Machine Learning to make predictions.
            <br>
            <br>
            In our latest project,Proverty Values & Covid19, we examined property values during the time if
            COVID19. We reviewed Interest Rates, Deaths and Cases to make predictions and analyze the relationships
            between these variables.
            <br>
            <br>
            <strong>Timeline of Some Covid19 Events:</strong>
            <br>
          </p>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
            <span>January 21st 2020</span>
            <p>United States confirms its first case in Washington state, a man who traveled to the Wuhan area.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
            <span>March 13th 2020</span>
            <p>President Trump declared a national emergency.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
            <span>April 2nd 2020</span>
            <p>Cases topped a million, and millions lose their jobs. As several states implement mandatory stay at home
              orders.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="300">
            <span>July 6th 2020</span>
            <p>U.S. deaths surpassed 130,000. Several States begin phased re-openings.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="400">
            <span>August 27th 2020</span>
            <p>The CDC notifies public health officials around the US to prepare to distribute a potential coronavirus
              vaccine as soon as late October.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
            <span>October 20th 2020</span>
            <p>The United States reports 58,387 new COVID-19 cases in a 24-hour period, its highest figure since July
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Steps Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#">
                  <h4>Analytics</h4>
                  <p></p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link"  href="/analytics"  target="_blank">
                  <h4>Housing Analytics</h4>
                  <p>We display animated charts</p>
                </a>
              </li>
              <!-- data-toggle="tab" -->
              <li class="nav-item mt-2">
                <a class="nav-link"  href="/map"  target="_blank">
                  <h4>Map</h4>
                  <p>A map indicating our analysis by State</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" href="/table" target="_blank">
                  <h4>Table</h4>
                  <p>A table to search for for data</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" href="/predictions" target="_blank" >
                  <h4>Predictions</h4>
                  <p>We made predictions using data</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="static/img/features-1.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="static/img/features-2.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="static/img/features-3.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="static/img/features-4.png" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" >

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>In our team we tried to pick topics we all care about.
          </p>
          <p>Linda: Our resident statistician, Javascript and Python guru, avid baker.</p>
          <p>Alyssa: The is our Python, Javascript and Flask guru, the heroku whisperer, plays Animal
            Crossings.</p>
          <p>Keturah: Loves using Python for data analysis, web design, and in her spare time, loves travelling.
          </p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Keturah</h4>
                  <span>Python</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alyssa</h4>
                  <span>Python</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Linda</h4>
                  <span>Python</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Thank you</h4>
                  <span>All who helped us along the way</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>LAK</h3>
              <p>
                Rutgers BootCamp <br>
                NJ 08901, USA<br><br>
                <strong>Phone:</strong> (123)-456-7890<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/analytics">Analytics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/predictions">Predictive Analytics</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>What We Used</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.python.org/" target="_blank">Python</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.sqlalchemy.org/" target="_blank">Sqlalchemy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.javascript.com/" target="_blank">Javascript</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://dashboard.heroku.com/" target="_blank">Heroku</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://scikit-learn.org/stable/" target="_blank">Machine Learning</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>